<!DOCTYPE html>
<html lang="en">
<body>


        <!-- İkinci Container: Kolye -->
        <div class="container mb-5">
            <h3>Küpe</h3>
            <div class="row">
                <!-- Küpe 1 -->
            <div class="col-md-2 text-center">
                <a  asp-controller="Kupe1Detay" asp-action="Kupe1Detay">
                    <img src="../../image/urunküpe1.png" alt="Kupe1" class="img-fluid">
                    <p>INITIAL PENDANT</p>
                    <p>₺300</p>
                </a>
            </div>
            <!-- Küpe 2 -->
                <div class="col-md-2 text-center">
                <a  asp-controller="Kupe2Detay" asp-action="Kupe2Detay">
                    <img src="../../image/urunküpe2.png" alt="Kolye 2" class="img-fluid">
                        <p>DIAMOND CHOKER</p>
                        <p>₺350</p>
                    </a>
                </div>
            <!-- Küpe 3 -->
                <div class="col-md-2 text-center">
                <a  asp-controller="Kupe3Detay" asp-action="Kupe3Detay">
                    <img src="../../image/urunküpe3.png" alt="Kolye 3" class="img-fluid">
                        <p>LEAF PENDANT</p>
                        <p>₺200</p>
                    </a>
                </div>
            <!-- Küpe 4 -->
                <div class="col-md-2 text-center">
                <a  asp-controller="Kupe4Detay" asp-action="Kupe4Detay">
                    <img src="../../image/urunküpe4.png" alt="Kolye 4" class="img-fluid">
                        <p>RUBY PENDANT</p>
                        <p>₺200</p>
                    </a>
                </div>
            <!-- Küpe 5 -->
                <div class="col-md-2 text-center">
                <a  asp-controller="Kupe5Detay" asp-action="Kupe5Detay">
                    <img src="../../image/urunküpe5.png" alt="Kolye 5" class="img-fluid">
                        <p>HEART DROP</p>
                        <p>₺250</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Üçüncü Container: Küpe -->
        <div class="container mb-5">
            
            <div class="row">
                <!-- Küpe 6 -->
                <div class="col-md-2 text-center">
                <a  asp-controller="Kupe6Detay" asp-action="Kupe6Detay">
                    <img src="../../image/urunküpe6.png" alt="Küpe 1" class="img-fluid">
                        <p>DIAMOND STUDS</p>
                        <p>₺180</p>
                    </a>
                </div>
                <!-- Küpe 7 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Kupe7Detay" asp-action="Kupe7Detay">
                    <img src="../../image/urunküpe7.png" alt="Küpe 2" class="img-fluid">
                        <p>MINI HOOPS</p>
                        <p>₺160</p>
                    </a>
                </div>
                <!-- Küpe 8 -->
                <div class="col-md-2 text-center">
                <a  asp-controller="Kupe8Detay" asp-action="Kupe8Detay">
                    <img src="../../image/urunküpe8.png" alt="Küpe 3" class="img-fluid">
                        <p>DANGLING LEAVES</p>
                        <p>₺170</p>
                    </a>
                </div>
            
            </div>
        </div>
    </div>

</body>
</html>
