<!DOCTYPE html>
<html lang="en">

<body>


        <!-- İkinci Container: Kolye -->
        <div class="container mb-5">
            <h3>KOLYE</h3>
            <div class="row">
                <!-- Kolye 1 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Charm1Detay" asp-action="Charm1Detay">
                    <img src="../../image/urunlercharm1.png" alt="Kolye 1" class="img-fluid">
                        <p>KEY CHARM</p>
                        <p>₺300</p>
                    </a>
                </div>
                <!-- Kolye 2 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Charm2Detay" asp-action="Charm2Detay">
                    <img src="../../image/urunlercharm2.png" alt="Kolye 2" class="img-fluid">
                        <p>CORNICELLO CHARM</p>
                        <p>₺250</p>
                    </a>
                </div>
                <!-- Kolye 3 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Charm3Detay" asp-action="Charm3Detay">
                    <img src="../../image/urunlercharm3.png" alt="Kolye 3" class="img-fluid">
                        <p>MEDALLION CHARM</p>
                        <p>₺100</p>
                    </a>
                </div>
                <!-- Kolye 4 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Charm4Detay" asp-action="Charm4Detay">
                    <img src="../../image/urunlercharm4.png" alt="Kolye 4" class="img-fluid">
                        <p>GLOBE CHARM</p>
                        <p>₺200</p>
                    </a>
                </div>
                <!-- Kolye 5 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Charm5Detay" asp-action="Charm5Detay">
                    <img src="../../image/urunlercharm5.png" alt="Kolye 5" class="img-fluid">
                        <p>HEART CHARM</p>
                        <p>₺250</p>
                    </a>
                </div>
            </div>
        </div>

        
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
