<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="container-fluid hero-container">
            <img src="../../image/imageFirstContainer.png" alt="Background Image" class="hero-image">
            <div class="hero-content">
                <h1 class="hero-title">sonbahar ekinoksu</h1>
                <p class="hero-subtitle">Size Özel Özgün Aksesuarlar</p>
                <button class="btn btn-primary custom-btn-hero">Alışverişe Başla</button>
            </div>
        </div>

        <div class="container categories-container">
            <h2 class="text-center">Kategoriye Göre Alışveriş</h2>
            <div class="row">
                <div class="col-md-2 category">
                    <img src="../../image/categories/imageKolye.png" alt="Category 1" class="img-fluid">
                    <p class="text-center">Kolye</p>
                </div>
                <div class="col-md-2 category">
                    <img src="../../image/categories/imageCharm.png" alt="Category 2" class="img-fluid">
                    <p class="text-center">Charm</p>
                </div>
                <div class="col-md-2 category">
                    <img src="../../image/categories/imageYuzuk.png" alt="Category 3" class="img-fluid">
                    <p class="text-center">Yüzük</p>
                </div>
                <div class="col-md-2 category">
                    <img src="../../image/categories/imageBileklik.png" alt="Category 4" class="img-fluid">
                    <p class="text-center">Bileklik</p>
                </div>
                <div class="col-md-2 category">
                    <img src="../../image/categories/imageKüpe.png" alt="Category 5" class="img-fluid">
                    <p class="text-center">Küpe</p>
                </div>
            </div>
        </div>

        <div class="container-fluid hero-container custom-hero-container">
            <div class="custom-hero-image-container">
                <img src="../../image/imageSecondContainer.png" alt="Background Image" class="custom-hero-image">
            </div>
            <div class="custom-hero-content">
                <h1 class="hero-title">Ekinoksun Dengesi, Altının Asaleti ile Buluşuyor</h1>
                <p class="hero-subtitle">Sonbahar Ekinoksu'nun büyüleyici dönüşümü ile altının ışığını keşfedin. Doğanın altın sarısına büründüğü bu özel zaman diliminde, sizin için özenle tasarlanmış takılarımızla yeni bir döneme adım atın. Herbir parça, sonbaharın zarafetini ve doğanın altın renklerini yansıtarak, tarzınıza eşsiz bir ışıltı katacak</p>
            </div>
        </div>

        <div class="container-fluid hero-container custom-hero-container-third">
            <div class="../../custom-hero-content">
                <h1 class="hero-title">Güzün Zarafetini Yansıtan Gold Takılar</h1>
                <p class="hero-subtitle">Güz mevsiminin zarif dokunuşları, altının asaleti ile buluşuyor. Sonbaharın altın parıltısını yansıtan takılarımız, her anınıza değer katacak. Bu özel koleksiyon, doğanın dönüşüm sürecini ve ekinoksun dengeli enerjisini simgeliyor. Şimdi, sonbaharın büyüsünü üzerinizde taşıma zamanı.</p>
            </div>
            <div class="custom-hero-image-container">
                <img src="../../image/imageThirdContainer.png" alt="Background Image" class="custom-hero-image">
            </div>
        </div>

        <div class="container-fluid hero-container custom-hero-container-fourth">
            <div class="custom-hero-image-container">
                <img src="../../image/imageFourthContainer.png" alt="Background Image" class="custom-hero-image">
            </div>
            <div class="custom-hero-content">
                <h1 class="hero-title">Pluvia ile her zaman daha şık olun</h1>
                <p class="hero-subtitle">Pluvia, zarafetin ve şıklığın simgesi olan aksesuarlarla her zaman tarzınızı yansıtmanızı sağlar. Özenle tasarlanmış koleksiyonlarımız, her anınıza uyum sağlayarak size özel bir ışıltı katacak. Şimdi, Pluvia'nın benzersiz dünyasında kendi stilinizi keşfedin ve her zaman daha şık olun.</p>
                <a href="../aboutUsScreen/hakkimizda.html" class="btn custom-btn-fourth">HAKKIMIZDA</a>
            </div>
        </div>
    </main>

</body>
</html>
