<!DOCTYPE html>
<html lang="en">

<body>


        <!-- İkinci Container: Kolye -->
        <div class="container mb-5">
            <h3>YÜZÜK</h3>
            <div class="row">
                <!-- Kolye 1 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Yuzuk1Detay" asp-action="Yuzuk1Detay">
                    <img src="../../image/urunleryuzuk1.png" alt="Kolye 1" class="img-fluid">
                        <p>RING OF LEAVES</p>
                        <p>₺300</p>
                    </a>
                </div>
                <!-- Kolye 2 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Yuzuk2Detay" asp-action="Yuzuk2Detay">
                    <img src="../../image/urunleryuzuk2.png" alt="Kolye 2" class="img-fluid">
                        <p>SIMPLE CHAIN RING</p>
                        <p>₺250</p>
                    </a>
                </div>
                <!-- Kolye 3 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Yuzuk3Detay" asp-action="Yuzuk3Detay">
                    <img src="../../image/urunleryuzuk3.png" alt="Kolye 3" class="img-fluid">
                        <p>TIARA RING</p>
                        <p>₺100</p>
                    </a>
                </div>
                <!-- Kolye 4 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Yuzuk4Detay" asp-action="Yuzuk4Detay">
                    <img src="../../image/urunleryuzuk4.png" alt="Kolye 4" class="img-fluid">
                        <p>ROSE RING</p>
                        <p>₺200</p>
                    </a>
                </div>
                <!-- Kolye 5 -->
                <div class="col-md-2 text-center">
                <a asp-controller="Yuzuk5Detay" asp-action="Yuzuk5Detay">
                    <img src="../../image/urunleryuzuk5.png" alt="Kolye 5" class="img-fluid">
                        <p>SIGNET RING</p>
                        <p>₺250</p>
                    </a>
                </div>
            </div>
        </div>

        
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
