<!DOCTYPE html>
<html lang="en">

<body>

    <!-- İkinci Container: Kolye -->
        <div class="container mb-5">
            <h3>BİLEKLİK</h3>
            <div class="row">
                <!-- Kolye 1 -->
                <div class="col-md-2 text-center">
                <a asp-action="Bileklik1Detay" asp-controller="Bileklik1Detay">
                    <img src="../../image/urunlerbileklik1.png" alt="Kolye 1" class="img-fluid">
                        <p>CHAINED CUFF</p>
                        <p>₺300</p>
                    </a>
                </div>
                <!-- Kolye 2 -->
                <div class="col-md-2 text-center">
                <a asp-action="Bileklik2Detay" asp-controller="Bileklik2Detay">
                    <img src="../../image/urunlerbileklik2.png" alt="Kolye 2" class="img-fluid">
                        <p>THIN CHAIN</p>
                        <p>₺250</p>
                    </a>
                </div>
                <!-- Kolye 3 -->
                <div class="col-md-2 text-center">
                <a asp-action="Bileklik3Detay" asp-controller="Bileklik3Detay">
                    <img src="../../image/urunlerbileklik3.png" alt="Kolye 3" class="img-fluid">
                        <p>LEAFY CHAIN</p>
                        <p>₺100</p>
                    </a>
                </div>
                <!-- Kolye 4 -->
                <div class="col-md-2 text-center">
                <a asp-action="Bileklik4Detay" asp-controller="Bileklik4Detay">
                    <img src="../../image/urunlerbileklik4.png" alt="Kolye 4" class="img-fluid">
                        <p>FLORA CHAIN</p>
                        <p>₺200</p>
                    </a>
                </div>
                <!-- Kolye 5 -->
                <div class="col-md-2 text-center">
                <a asp-action="Bileklik5Detay" asp-controller="Bileklik5Detay">
                    <img src="../../image/urunlerbileklik5.png" alt="Kolye 5" class="img-fluid">
                        <p>ARROW CUFF</p>
                        <p>₺250</p>
                    </a>
                </div>
            </div>
        </div>

        
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
