<!DOCTYPE html>
<html lang="en">

<body>

        <!-- İkinci Container: Kolye -->
        <div class="container mb-5">
            <h3>KOLYE</h3>
            <div class="row">
                <!-- Kolye 1 -->
                <div class="col-md-2 text-center">
                    <a asp-action="Kolye1Detay" asp-controller="Kolye1Detay">
                        <img src="../../image/urunlerkolye1.png" alt="Kolye 1" class="img-fluid">
                        <p>INITIAL PENDANT</p>
                        <p>₺300</p>
                    </a>
                </div>
                <!-- Kolye 2 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye2Detay" asp-controller="Kolye2Detay">
                    <img src="../../image/urunlerkolye2.png" alt="Kolye 2" class="img-fluid">
                        <p>HEART DROP</p>
                        <p>₺250</p>
                    </a>
                </div>
                <!-- Kolye 3 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye3Detay" asp-controller="Kolye3Detay">
                    <img src="../../image/urunlerkolye3.png" alt="Kolye 3" class="img-fluid">
                        <p>DIAMOND CHOKER</p>
                        <p>₺100</p>
                    </a>
                </div>
                <!-- Kolye 4 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye4Detay" asp-controller="Kolye4Detay">
                    <img src="../../image/urunlerkolye4.png" alt="Kolye 4" class="img-fluid">
                        <p>LEAF PENDANT</p>
                        <p>₺200</p>
                    </a>
                </div>
                <!-- Kolye 5 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye5Detay" asp-controller="Kolye5Detay">
                    <img src="../../image/urunlerkolye5.png" alt="Kolye 5" class="img-fluid">
                        <p>RUBY PENDANT</p>
                        <p>₺250</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Üçüncü Container: Küpe -->
        <div class="container mb-5">
            
            <div class="row">
                <!-- Küpe 1 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye6Detay" asp-controller="Kolye6Detay">
                    <img src="../../image/urunlerkolye6.png" alt="Küpe 1" class="img-fluid">
                        <p>OPAL HEART</p>
                        <p>₺180</p>
                    </a>
                </div>
                <!-- Küpe 2 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye7Detay" asp-controller="Kolye7Detay">
                    <img src="../../image/urunlerkolye7.png" alt="Küpe 2" class="img-fluid">
                        <p>INTERLOCKING GOLD</p>
                        <p>₺160</p>
                    </a>
                </div>
                <!-- Küpe 3 -->
                <div class="col-md-2 text-center">
                <a asp-action="Kolye8Detay" asp-controller="Kolye8Detay">
                    <img src="../../image/urunlerkolye8.png" alt="Küpe 3" class="img-fluid">
                        <p>LARIAT</p>
                        <p>₺170</p>
                    </a>
                </div>

                <div class="col-md-2 text-center">
                <a asp-action="Kolye9Detay" asp-controller="Kolye9Detay">
                    <img src="../../image/urunlerkolye9.png" alt="Küpe 3" class="img-fluid">
                        <p>TAG PENDANT</p>
                        <p>₺170</p>
                    </a>
                </div>

                <div class="col-md-2 text-center">
                <a asp-action="Kolye10Detay" asp-controller="Kolye10Detay">
                    <img src="../../image/urunlerkolye10.png" alt="Küpe 3" class="img-fluid">
                        <p>FLORA PENDANT</p>
                        <p>₺170</p>
                    </a>
                </div>
            
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
